################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.meta
/Library
/.vs/SaladChef/v16
/ProjectSettings
/Packages
/Logs
/obj/Debug
/UserSettings
/Temp
